<div class="bgimg-3">
    <div class="w3-content w3-container w3-padding-64">
        <h3 class="w3-center" style="margin-top:30px">About Me</h3><br>
        <div class="w3-col w3-padding-large" style="margin-top:30px">
            <p>My name is <b>Jairo</b>, and I am a web application developer and graphic designer, among other things.</p>
            <p>I currently live in Madrid, the city where I was born. I love traveling, nature, the countryside, spending time with family and friends, and practicing sports, especially basketball, cycling, and in general, any activity that makes me feel
                alive
            </p>
            <p>After completing bachelor of Arts, I decided to study a higher degree in editorial design and production at the I.E.S Europa in Móstoles. Unfortunately, after finishing I could not dedicate myself to it due to the employment situation in the
                country.
            </p>
            <p>Because of this, I had to start in the job market doing different activities, as a factory laborer, storekeeper, gardener, painter, pollster, telephone salesperson, and some other little thing.</p>
            <p>Between these comings and goings, I entered the wonderful career of social work, at the Complutense University of Madrid. They were incredible years, which I remember with great affection and which I recommend to everyone, since it helped
                me improve many personal and professional aspects.
            </p>
            <p>After finishing my studies, I couldn't dedicate myself to it either, but I had the opportunity to work as a graphic designer in a local magazine. Here I was able to enjoy and learn about web design, something I was unaware of until then.</p>
            <p>After a while, I started working as a home help coordinator, the place where I had done my university internship.</p>
            <p>While I was working, I decided to return to the path of web design and development, studying a web application development technician at the I.E.S. Gaspar Melchor de Jovellanos in Fuenlabrada. Having the opportunity, once I finish my studies,
                to work as a web developer for Sia Group, a cybersecurity company.</p>
        </div>

        <div class="w3-content w3-container w3-padding-32">
            <div class="w3-row-padding w3-center ">
                <div class="w3-col m6 ">
                    <img src="assets/images/portada.jpg" style="width:100% " class="w3-hover-opacity " alt="montaña1">
                </div>

                <div class="w3-col m6 ">
                    <img src="assets/images/andar-perro2.jpg" style="width:100% " class="w3-hover-opacity" alt="Montaña2">
                </div>
            </div>
        </div>
    </div>
</div>