<div class="bgimg-2">
    <div class="w3-content w3-container w3-padding-64" id="contact">
        <h3 class="w3-center" style="margin-top:100px">Contact Me!</h3>

        <div class=" w3-row w3-padding-64 w3-section">
            <div class="w3-col m12 w3-panel w3-center" style="margin-top:-10px;">
                <div class="w3-large w3-margin-bottom ">
                    <i class="fa fa-map-marker w3-xlarge w3-margin-right "></i> Madrid, España<br>
                    <i class="fa fa-envelope w3-xlarge w3-margin-right "></i>garciaaparicio.jairo@gmail.com<br>
                </div>
                <div class="w3-large w3-margin-bottom ">
                    <i class="fa fa-file  w3-xlarge w3-margin-right " aria-hidden="true "></i><a href="https://drive.google.com/file/d/1sJ5b_BDkTO5tTl5wR44rLrYqsjr5vEia/view?usp=share_link">CurriculumVitae</a><br>
                    <i class="fa fa-linkedin-square w3-xlarge w3-margin-right" aria-hidden="true "></i><a href="https://www.linkedin.com/in/jairo-garcia-aparicio-b90306210" target="_blank ">LinkedIn</a><br>
                    <i class="fa fa-github w3-xlarge w3-margin-right " aria-hidden="true "></i><a href="https://github.com/JairoGarciaAparicio" target="_blank ">GitHub</a><br>
                </div>
            </div>
        </div>
    </div>
</div>