<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css" />
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet" />

<div class="bgimg-2 w3-display-container" id="home">
    <div class="w3-display-left" style="white-space: nowrap">
        <a href="/about-me" style="text-decoration: none;"></a>
        <div class="text-box">
            <div class="custom-row; notranslate">

                <svg class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
          </svg>
                <h2 class="notranslate">
                    Jairo Garcia
                    <span class="w3-black" style="margin-left: 50px; margin-top: -50px">Jairo Garcia</span
            >
            <span class="w3-black" style="margin-left: 50px; margin-top: -50px"
              >Jairo Garcia</span
            >
            <span style="margin-left: 50px; margin-top: -50px"
              >front-end developer</span
            >
            <span style="margin-left: 50px; margin-top: -50px"
              >graphic designer</span
            >
            <span style="margin-left: 50px; margin-top: -50px"
              >good person</span
            >
          </h2>
        </div>
      </div>
    </div>

    <!--<a href="about-me"></a>
    <div class="bgimg-1 w3-display-container " id="home ">
<div class="w3-display-left " style="white-space:nowrap; ">
    <div class="text-box ">
        <div class="custom-row ">
            <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity custom-span ">JAIRO <span>GARCIA</span></span>
            </div>
            <div class="custom-row ">
                <span class="w3-left w3-padding-large w3-2021-rust w3-xlarge w3-wide w3-animate-opacity w3-hide-small custom-span w3-hide-small ">DESARROLLADOR <span>WEB</span></span>
            </div>
            <div class="custom-row ">
                <span class="w3-left w3-padding-large w3-light-blue w3-xlarge w3-wide w3-animate-opacity w3-hide-small custom-span w3-hide-small ">DISEÑADOR <span>GRAFICO</span></span>
            </div>
            <div class="custom-row ">
                <span class="w3-left w3-padding-large w3-teal w3-xlarge w3-wide w3-animate-opacity w3-hide-small custom-span w3-hide-small ">Y <span>BUENA PERSONA</span></span>
            </div>
        </div>

    </div>
</div>-->
</div>