/*.custom-row {
    overflow: hidden;
    text-align: left;
}


.custom-span {
    display: inline-block;*/


/* font-size: 20px!important; */


/*
}
@media (min-width: 1600px) {
    .text-box {
        padding-top: 300px;
    }
}
@media (max-width: 300px) {
    .custom-span {
        font-size: 16px!important;
    }
}*/

body {
    background: #0b1d2a;
}

.arrows {
    width: 80px;
    height: 102px;
    position: absolute;
    left: 50%;
    margin-left: -120px;
    bottom: 180px;
}

.arrows path {
    stroke: rgba(216, 203, 20, 0.75);
    fill: transparent;
    stroke-width: 10px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow
/*Safari and Chrome*/

{
    0% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari 和 Chrome */
}